.github-badge {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--rr-color-bg-primary);
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.125);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: .5rem;
  text-decoration: navy;
  color: var(--rr-color-text-primary);
  border-radius: 5rem;
  font-size: 1.5rem;
  gap: .5rem;
  line-height: 1.5rem;
  z-index: 99999999;
  transition: .2s;
  width: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.github-badge:hover {
  width: 10.25rem !important;
}

.github-badge > p {
  margin: 0;
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 500;
}

.github-badge > svg {
  min-width: 1.5rem;
}

@media (max-width: 576px) {
  .github-badge {
    bottom: 5rem;
  }
}

