.editor .graph-viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  user-select: none;
  touch-action: none;
  --minor: 25px;
  --major: 100px;
  --grid-x: 0px;
  --grid-y: 0px;
  background-image: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0 1px, transparent 1px var(--minor)), repeating-linear-gradient(90deg, rgba(255,255,255,0.05) 0 1px, transparent 1px var(--minor)), repeating-linear-gradient(0deg, rgba(255,255,255,0.10) 0 1px, transparent 1px var(--major)), repeating-linear-gradient(90deg, rgba(255,255,255,0.10) 0 1px, transparent 1px var(--major));
  background-position: var(--grid-x) var(--grid-y), var(--grid-x) var(--grid-y), var(--grid-x) var(--grid-y), var(--grid-x) var(--grid-y);
}

.editor .graph-viewport.grabbing {
  cursor: grabbing;
}

.editor .graph-viewport .graph-canvas {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0;
  will-change: transform;
}

/* GRAPH CHIPS */

.editor .graph-viewport .graph-canvas .chip {
  position: absolute;
  transform: translate(-50%, -50%);
}

.editor .graph-viewport .graph-canvas .chip:not(.grabbing):hover {
  cursor: grab;
}

.editor .graph-viewport .graph-canvas .chip.grabbing {
  cursor: grabbing;
}

/* CHIP SELECT */

.editor .graph-viewport .graph-canvas .chip.selected {
  outline: .125rem solid rgb(116,237,54,0.75);
  outline-offset: .125rem;
}

.editor .drag-select {
  position: absolute;
  user-select: none;
  pointer-events: none;
  touch-action: none;
  border-radius: var(--rr-border-radius);
  outline: .125rem dashed rgb(116,237,54,0.75);
  display: none;
}

.editor .drag-select.dragging {
  display: block;
}

